[submodule "llvm"]
	path = llvm
	url = https://github.com/cadets/llvm
	branch = cadets
[submodule "loom"]
	path = loom
	url = https://github.com/cadets/loom
[submodule "llvm-prov"]
	path = llvm-prov
	url = https://github.com/cadets/llvm-prov
[submodule "freebsd"]
	path = freebsd
	url = https://github.com/cadets/freebsd
	branch = cadets
